@import "../Common.module";
@import url('https://fonts.cdnfonts.com/css/agency-fb');

$POINT_COLOR : #3F4D4C;
.header {
  height: 200px;
}

.headerBox {
  height : 33px;
  width: 100%;
  background: $POINT_COLOR;
  color : whitesmoke;
  align-content: center;
  padding-left: 50px;
  font-size: 13px;

}

.headerBox2 {
  flex-direction: row;
  justify-content: center;
  position: relative;
  display: flex;
  margin-top: 30px;
  align-items: flex-end;
}


.headerBox2 div:nth-child(2) span:first-child {
  margin-right: 30px;
}

.logIn {
 position: absolute;
  left: calc(50% + 500px);
  transform: translateX(-50%); /* 수평 가운데 정렬 */
}

.logo {
  width: fit-content;
  font-family: 'Agency FB', sans-serif;
  font-size: 40px;
  color : $POINT_COLOR;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.logoWithText {
  font-size: 15px;
}